@import "vertical";
@import "navigation-vertical";
@import "finance";

html,
body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

body {
  font-size: 0.875rem;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
  height: 64px;
  max-height: 64px;
  min-height: 64px;
  padding: 0 24px;
}

button,
input {
  outline: none !important;
}

.MuiIconButton-root {
  padding: 8px !important;
}

.logo a {
  color: rgb(246, 0, 86);
}

.nucleo-theme-light {
  color: #27303f;
  background-color: #f1f5f9;
}

.nucleo-theme-light *,
.nucleo-theme-light *::before,
.nucleo-theme-light *::after {
  border-color: #e2e8f0;
}

.nucleo-theme-dark {
  color: white;
  background-color: #1a202e;
}

.nucleo-theme-light .text-secondary {
  color: #64748b;
}

.nucleo-theme-light .text-hint {
  color: #97a6ba;
}

.theme-dark {
  color: white;
  background-color: #1a202e;
}

.theme-dark .text-secondary {
  color: #97a6ba;
}

.classy-layout > .wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
}

nav .selected-item {
  background-color: #2d3748;
}

#tradingview_20b32-wrapper,
#tradingview-widget-0 {
  height: 100% !important;
}

.sub-menu::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #64748b;
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}
